@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <h1>Welcome</h1>
        <p>@User.Identity.Name</p>
        <form method="post" asp-controller="Account" asp-action="Logout">
            <input type="submit" value="Log out" class="btn btn-primary"/>
        </form>
    }

</div>
